*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: rgba(128, 145, 145, 0.6);
}
 
main{
    
    padding: 25px;
    margin-top: 100px;
   width: 100%;
   
}

.title-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.icon{
    font-size: 30px;
    color: white;
}

h1{
    color: white;
}
.dropdown-container{
    display: flex;
    gap: 2rem;
    justify-content: center;
align-items: center;
margin-bottom: 2rem;
}

#date-options{
    padding: 10px;
    border-radius: 5px ;
    border: 2px solid green;
    box-shadow: 2px 2px 2px rgb(151, 194, 151);
}



#current-date{
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    color: black;
}